:root {
  --color-dark-blue: #1A0089;
  --color-pale-blue: #b5dcf4;
  --color-white-chocolate: #EFE7D3;
  --color-june-bud: #B7CF4F;

  --bg:var(--color-white-chocolate);
  --text:var(--color-dark-blue);
  --accent:var(--color-pale-blue);

  --alataregular: "Alata", sans-serif;
}

/*Alata Regular Font*/
.alata-regular {
  font-family: var(--alataregular);
  font-weight: 400;
  font-style: normal;
}
